#Flask
.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env
env*
dist
build
*.egg
*.egg-info
_mailinglist
.tox
.cache/
.idea/

#Flask - Coverage reports
htmlcov
.coverage
.coverage.*
*,cover

#FIX
*.log
*.pyc
*.body
*.header
*.seqnums
*.session
#MongoDB

